.header {
  height: 97vh;
  background-color: $color-primary;
  position: relative;
  border-radius: 1rem;

  &__message {
    display: flex;
    margin: 3rem;
    justify-content: space-around;

    @media screen and (max-width: 400px) {
      margin: 0;
    }
    p {
      font-size: 9rem;
      font-family: "Explora", serif;
      padding: 25rem 10rem;
      font-weight: 600;
      @media screen and (max-width: 1000px) {
        padding: 10rem;
      }
      @media screen and (max-width: 600px) {
        font-size: 7rem;
        padding: 2rem;
        font-weight: 600;
        text-align: center;
        margin: 0;
      }

      @media screen and (max-width: 400px) {
        font-size: 5rem;
        font-weight: 600;
        text-align: center;
        margin: 0;
      }
    }

    img {
      width: 100rem;
      height: 40rem;
      box-shadow: 0px 0px 5px 0px rgba($color-black, 0.5);
      border-radius: 2rem;
    }
  }
  &__footer {
    background-color: $color-secondary;
    height: 6rem;
    text-align: center;
    font-size: 4rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: "Open sans condensed", cursive;
    letter-spacing: 2px;
    //font-style: italic;

    & h6 {
      padding-top: 1rem;
      word-spacing: 3rem;
    }
  }
}
